:root{
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --rosa-pastel: #fdcfdf;
  --rosa-alter: #fab9d0;
  --light-grey: #444343;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--secondary-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--secondary-color); 
  background-color: var(--rosa-pastel)
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Prata', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron__container{
  height: 100vh;
  margin: 0 auto;
  border-top: 20px solid var(--primary-color);
  border-bottom: 20px solid var(--primary-color);
}

 .jumbotron__content__position{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.jumbotron__backgroundImage{
  background-image: url(./img/header-1ok.jpg);
  background-position: center;
  background-size: cover;
}

.jumbotron__titleContainer {
  padding: 1.2rem 1.2rem 0 0;
  color: var(--secondary-color);
  text-align: right;
}

.jumbotron__titleContainer h1{
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-size: 4.5em;
  margin-bottom: 1rem;
}

.header__subtitle{
  font-size:2em;
  letter-spacing: 0.1em;
}

.btn-pink{
  background-color: var(--rosa-pastel);
  color: var(--primary-color);
  transition: all 0.3s ease-in;
}

.btn-pink:hover{
  background-color: var(--rosa-alter);
}

.navbar-color{
  background-color: var(--light-grey);
  height: 1px!important;
}

.card{
  border: transparent;
  transition: all 100ms ease-in-out;
}

.card:hover{
  transform: scale(1.01);
  filter: brightness(1.1);
  filter: contrast(1.1);
}
.card img {
 width: 100%;
 /* border-radius:25px; */

}